@import 'reset.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


$AppBgColor: black;
$AppHeaderBgColor: red;
$AppBtnBgColor: grey;
$MediumFontSize: 15px;
$HeaderHeight: 100px;
$BtnScaleConst: 1.1;

@mixin flex($fl-d : row, $al-i : center, $js-c : center) {
    display: flex;
    flex-direction: $fl-d;
    align-items: $al-i;
    justify-content: $js-c;
}
@mixin radius($b-r) {
    border-radius: $b-r;
}

body {
    background-color: $AppBgColor;
}
#App {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    header {
        @include flex(row, center, space-around);
        height: $HeaderHeight;
        background-color: $AppHeaderBgColor;
    }
}

header {
    .toggleSettingsBtn, .addCityBtn {
        @include flex();
        width: 50px;
        height: 50px;
        @include radius(25px);
    }
    .toggleSettingsBtn, .addCityBtn{
        background-color: $AppBtnBgColor;
        outline: none;
        border : none;
        font-size: $MediumFontSize;
        cursor: pointer;
        transition: .05s all linear;
    }
    .toggleSettingsBtn:hover, .addCityBtn:hover {
        transform: scale($BtnScaleConst);
    }
    .user-input {
        outline: none;
        border : none;
        font-size: $MediumFontSize; 
        width: 50vw;
        padding: 10px;
        @include radius(20px);
    }
    i {
        padding: 10px;
        font-size: 25px !important;
    }
}

